<%- include('partials/header.html') %>

   

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca: </h2>
            <br><br>
            <div class="center">
                
                <div style="width: 100%;" class="mais-lidas">
                    <h3>Resultados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/natureza-small.jpg" />
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and 1.10.33</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/natureza-small.jpg" />
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and 1.10.33</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/natureza-small.jpg" />
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and 1.10.33</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/natureza-small.jpg" />
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and 1.10.33</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <%- include('partials/footer.html') %>

</body>

</html>