<%- include('partials/header.html') %>

<section class="noticia">
<div class="center">
    <div class="noticia-single">
        

  <h2>Quer Fugir das Praias de Verão?</h2>
  <div class="nome-autor">
    <span>Por <strong>Nome do autor</strong></span>
</div>
  <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet. Nam eget neque
    odio. Sed vehicula imperdiet diam, a lacinia dui dictum a. In hac habitasse platea dictumst. Sed dapibus tellus
    ac turpis elementum, in sollicitudin lacus vehicula. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nulla nisl nibh, porttitor ut magna sed, sollicitudin vulputate lectus. Donec
    euismod a lectus non feugiat. Suspendisse vitae magna sit amet tortor ultricies ornare. Morbi sollicitudin massa
    justo, vel ultricies augue ultricies at. Curabitur eget turpis sit amet ante ultricies tincidunt. Praesent
    sollicitudin, velit sit amet condimentum vehicula, lectus velit condimentum ipsum, sit amet placerat ipsum
    ut magna. Praesent nec nulla at tortor ullamcorper iaculis.</p>


    </div>


    <div class="mais-lidas">
        <h3>Mais Lidas</h3>
        <div class="mais-lidas-noticias">
            <div class="mais-lidas-noticias-single">
                <img src="/public/images/natureza-small.jpg" />
                <div class="texto-mais-lidas-single">
                    <h4>Natureza</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
            </div>

            <div class="mais-lidas-noticias-single">
                <img src="/public/images/natureza-small.jpg" />
                <div class="texto-mais-lidas-single">
                    <h4>Natureza</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
            </div>

            <div class="mais-lidas-noticias-single">
                <img src="/public/images/natureza-small.jpg" />
                <div class="texto-mais-lidas-single">
                    <h4>Natureza</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
            </div>

            <div class="mais-lidas-noticias-single">
                <img src="/public/images/natureza-small.jpg" />
                <div class="texto-mais-lidas-single">
                    <h4>Natureza</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

</section>


<%- include('partials/footer.html') %>

</body>

</html>